Django==1.6.5
SQLAlchemy==0.9.7
Scrapy==0.24.2
South==1.0
Twisted==14.0.0
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.13
cffi==0.8.6
characteristic==0.1.0
cryptography==0.5.2
cssselect==0.9.1
django-bootstrap3==4.8.2
django-celery==3.1.10
kombu==3.0.21
lxml==3.3.5
parsedatetime==1.4
psycopg2==2.5.3
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pytz==2014.4
queuelib==1.2.2
service-identity==1.0.0
six==1.7.3
w3lib==1.7.1
wsgiref==0.1.2
zope.interface==4.1.1
